{% extends 'Poesia/layaout.html' %}
{% load static %}
{% block title %}USAC | Formulario de Poesia{% endblock %}

{% block CustomCSS %}
{% endblock %}

{% block content %}

  <h1>Reporte de inscripcion | Evento Poesia</h1>
  <div class="table-responsive">
    <table class="table table-sm table-dark table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Carnet</th>
          <th>Nombre Completo</th>
          <th>Direccion</th>
          <th>Genero</th>
          <th>Telefono</th>
          <th><a class="text-decoration-none text-white" href="?Ordenar_Por=Fecha_Nacimiento">Fecha Nacimiento</a></th>
          <th><a class="text-decoration-none text-white" href="?Ordenar_Por=Carrera_Estudiante">Carrera Estudiante</a></th>
          <th><a class="text-decoration-none text-white" href="?Ordenar_Por=Genero_Poesia">Genero de Poesia</a></th>
          <th>Fecha Inscripcion</th>
          <th><a class="text-decoration-none text-white" href="?Ordenar_Por=Fecha_Declamacion">Fecha Declamacion</a></th>
        </tr>
      </thead>
      <tbody>
        {% for element in Registros %}
          <tr>
            <th>{{ element.id }}</th>
            <th>{{ element.Carnet }}</th>
            <th>{{ element.Nombre_Completo }}</th>
            <th>{{ element.Direccion }}</th>
            {% if element.Genero == 'M' %}<th> Masculino</th>{% else %}<th>Femenino</th>{% endif %}
            <th>{{ element.Telefono }}</th>
            <th>{{ element.Fecha_Nacimiento }}</th>
            <th>{{ element.Carrera_Estudiante }}</th>
            {% if element.Genero_Poesia == 'L' %}<th> Lírica </th>{% elif element.Genero_Poesia == 'E' %}<th>Épica</th>{% else %}<th>Dramática</th>{% endif %}
            <th>{{ element.Fecha_Inscripcion }}</th>
            <th>{{ element.Fecha_Declamacion }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}